services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      SERVICES: "s3,lambda,dynamodb,sqs,sns,apigateway,cloudwatchm,iam"
      DEBUG: "1"
      AWS_DEFAULT_REGION: "us-east-1"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "localstack_data:/var/lib/localstack"

volumes:
  localstack_data: {}
